@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap&family=Oswald&family=Raleway:wght@400;600;800&family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.first_screen {
    width: 100%;
    height: 100%;
    background-image: url("../main_screen.png");
    background-size:cover;
    background-position: 25% 25%;
}

.top_part {
    display: flex;
    margin-top: -10px;
}

.left, .right {
    width: 50%;
}


header > div {
    text-align: center;
}

.politech {
    color: white;
    font-family: "Koh Santepheap";
    font-weight: 400;
    font-size: 40px;
}

.opened {
    color: white;
    font-family: "Russo One";
    font-weight: 400;
    font-size: 80px;
    text-align: center;
}

.standup {
    color: white;
    font-family: Oswald;
    font-weight: 400;
    font-size: 130px;
    margin-top: -40px;
    text-align: center;
}

.stand, .time {
    color: #CC79FF;
}

.show {
    color: white;
    font-family: "Russo One";
    font-weight: 400;
    text-align: center;
    font-size: 40px;
    margin-top: -20px;
}

.take_part {
    color: white;
    font-family: Raleway;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
}

.main_text {
    margin-top: 60px;
}

.button_take_part {
    display: block;
    margin: 50px auto 0 auto;
    width: 40%;
    font-family: Raleway;
    font-weight: 600;
    font-size: 32px;
    text-decoration: none;
    color: white;
    text-align: center;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    padding: 12px 70px;
    transition: 0.5s;
}

.bottom_part {
    text-align: right;
    padding-right: 5%;
}

.bottom_part > p {
    font-family: "Russo One";
    font-weight: 400;
    font-size: 40px;
    color: white;
}

.button_take_part:hover {
    border-top: 3px solid rgba(90%, 56%, 100%, 0.63);
    border-bottom: 3px solid rgba(90%, 56%, 100%, 0.63);
    color: rgba(90%, 56%, 100%, 0.63);
    transition: 0.5s;
}